@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: rgb(250, 249, 245);
  --foreground: rgb(194, 192, 182);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(38, 38, 36);
    --foreground: rgb(194, 192, 182);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
}

@utility debug {
  border: 1px solid red;
}
